name: Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build
      working-directory: ${{github.workspace}}
      run: msbuild SAMP-ChatDetector.sln /p:Configuration=Release /p:Platform=x86 /p:WindowsTargetPlatformVersion=10.0 /p:PlatformToolset=v143

    - name: Upload Windows Binaries
      uses: actions/upload-artifact@v4
      with:
        name: windows-bin
        path: |
          binaries/SAMP-ChatDetector.asi
          binaries/SAMP-ChatDetector.dll

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-multilib

    - name: Build
      working-directory: server
      run: make

    - name: Upload Linux Binary
      uses: actions/upload-artifact@v4
      with:
        name: linux-bin
        path: binaries/SAMP-ChatDetector.so

  package:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    steps:
    - name: Download Windows Binaries
      uses: actions/download-artifact@v4
      with:
        name: windows-bin
        path: bin

    - name: Download Linux Binary
      uses: actions/download-artifact@v4
      with:
        name: linux-bin
        path: bin

    - name: Display structure of downloaded files
      run: ls -R bin

    - name: Upload All Binaries
      uses: actions/upload-artifact@v4
      with:
        name: SAMP-ChatDetector-All
        path: bin/*
